# Need to know they are jumping
public net.minecraft.entity.LivingEntity field_70703_bu #isJumping

# Have to short circuit Minecraft's step logic
public net.minecraft.entity.Entity field_70150_b #nextStepDistance

# Get access to the registered sprite sheets
public net.minecraft.client.particle.ParticleManager field_215242_i #sprites

# Particle Work
public net.minecraft.client.particle.Particle field_70545_g #particleGravity
public net.minecraft.client.particle.Particle field_82339_as #particleAlpha
public net.minecraft.client.particle.TexturedParticle field_70544_f #particleScale
public net.minecraft.client.particle.Particle field_187129_i #motionX
public net.minecraft.client.particle.Particle field_187130_j #motionY
public net.minecraft.client.particle.Particle field_187131_k #motionZ

# Access to hide particles
public net.minecraft.entity.LivingEntity field_184634_g #HIDE_PARTICLES
